@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Mono Bold";
  src:
    url("assets/fonts/SpaceMono-Bold.woff2") format("woff2"),
    url("assets/fonts/SpaceMono-Bold.woff") format("woff"),
    url("assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono Regular";
  src:
    url("assets/fonts/SpaceMono-Regular.woff2") format("woff2"),
    url("assets/fonts/SpaceMono-Regular.woff") format("woff"),
    url("assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-balance {
  text-wrap: balance;
}

body {
  font-size: 0.9375rem;
}

@layer base {
  em {
    @apply not-italic;
  }

  strong {
    @apply font-normal;
  }
}
